{
  local_certs
}

{
    # Debug
    {$CADDY_DEBUG}
}

backend.foo.bar

log

route {
    root * /srv/app/public
    vulcain
    push
    php_fastcgi unix//var/run/php/php-fpm.sock
    encode zstd gzip
    file_server
}
